.alinhamento {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  height: 640px;
  flex-wrap: wrap;
}
.areas{
  color:rgb(244,175,27);
  text-align: center;
  display:inline;
}
.areas > span::hover{
  color:black;
}

/*======================== partes relacionadas a transacao ===========================*/
.c_forms_trocaR{
  transform: translateX(-1760px);
  transition: 10ms;
}
.c_forms_trocaL{
  transform: translateX(0px);
  transition: 10ms;
}

.mudancaparaestudante{
  transform: translateX(-1320px);
  transition: 10ms;
}
.forms_estudante{
  display: flex;
  flex-direction: row;
  background-color: #00154f;
  width: 400px;
  min-width: 200px;
  border: 2px dashed rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0px 0px 40px rgb(244,175,27);
  margin-right: 200px;
  margin-bottom: 50px;
  gap:30px;
  transition: 10ms;
  height: 270px;
  overflow:hidden;
}
/* =============================================================================== */
.c_forms_cadastrop{
  transform: translateX(-448px);
  transition: 10ms;
}

.mudancaparaprofessor{
  transform: translateX(-881px);
  transition: 10ms;
}
.forms_professor{
  display: flex;
  flex-direction: row;
  background-color: #00154f;
  width: 400px;
  min-width: 200px;
  border: 2px dashed rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0px 0px 40px rgb(244,175,27);
  margin-right: 200px;
  margin-bottom: 50px;
  gap:30px;
  transition: 10ms;
  height: 325px;
  overflow:hidden;
}
/*====================================== final =======================================*/
.c_forms_trocar {
  background-color: #00154f;
  width: 399px;
  height: 470px;
  min-width: 200px;
  display: flex;
  flex-direction: row;
  border: 2px dashed rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0px 0px 40px rgb(244,175,27);
  margin-right: 150px;
  gap:30px;
  transition: 10ms;
  overflow:hidden;
}
.c_forms_trocar_professor {
  background-color: #00154f;
  width: 399px;
  height: 420px;
  min-width: 200px;
  display: flex;
  flex-direction: row;
  border: 2px dashed rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0px 0px 40px rgb(244,175,27);
  margin-right: 100px;
  gap:30px;
  transition: 10ms;
  overflow:hidden;
}
.c_forms {
  display: flex;
  flex-direction: row;
  background-color: #00154f;
  width: 400px;
  min-width: 200px;
  border: 2px dashed rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0px 0px 40px rgb(244,175,27);
  margin-right: 200px;
  margin-bottom: 50px;
  gap:30px;
  transition: 200ms;
  height: 230px;
  overflow:hidden;
}
 
#cadastro{
  height: 200px;
}

input {
  display: block;
  width: 400px;
  height: 25px;
  background-color: rgba(244,175,27,0.5);
  border: 1px solid rgba(244,175,27,0.5);
  border-radius: 10px;
}

label {
  color: rgba(244,175,27,0.9);
  font-size: 15px;
  height:30px;
  font-family: 'Times New Roman', Times, serif;
}

hr {
  border-color: black;
}
.btn{
  display:flex;
  width:410px;
  gap:10px
}
.enviar {
  width: 300px;
  height: 40px;
  font-weight: 700;
  font-size: 20px;
  background-color: rgb(244,175,27);
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
.enviar1{
  width: 300px;
  height: 40px;
  font-weight: bold;
  font-size: 18px;
  background: transparent;
  border:1px solid rgb(244,175,27);
  color:rgb(244,175,27);
  border-radius: 20px;
  cursor: pointer;
}

.enviar:hover {
  background-color: rgb(224, 153, 0);
}
.enviar:active{
  background-color: rgb(179, 122, 0);
}

.enviar1:hover{
  background-color:#002a9e;
}
.enviar1:active {
  background-color:#0044ff;
}
.c_img {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  width: 700px;
}

.img {
  width: 600px;
  height: 600px;
}

body {
  background-color: #00154f;
}
select{
  width: 360px;
  border-color:orange;
  background-color: rgba(244,175,27,0.5);
  border-radius: 5px;
  font-weight: bold;
}
option{
  background-color: rgb(153, 105, 0);
  border-color:orange;
  font-weight: bold;
}
i{
  color: rgba(244,175,27,0.5);
  font-size:xx-large;
  margin-right:100px; 
  cursor:pointer;
}